$primary-color:#222222;
html,body {
    height:100%;
}

.masthead {
    height:70%;
    background-color:$primary-color;
    display:flex;
    flex-direction:row;
   
    .item {
        height:100%;
 
        
        .top {
            display:flex;
            
            justify-content: center;
            align-items: center;
            padding:1rem;
            h1 {
                color:whitesmoke;
                border:1px solid whitesmoke;
                text-align: center;
                width:100%;
                    padding-bottom:1rem;
            }
            width:100%;
        
        
        }
    }
    .bottom {
      
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding:1rem;

        p {
            color:whitesmoke;
            font-size:30px;
            line-height:2;

        }
    }
    .i1 {
        width:40%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .i2 {
        width:60%;
        height:100%;
        background-image:url("mm.jpg");
        background-size:cover;
    
  
    }
}

.icons {
    height:30%;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    .item {
        width:33.3%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        border:1px solid black;
        border-top:none !important;
      .sub1 {
          line-height: 0.8;

          .pp, p {
              font-size:22px;
          }
      }
    }
}